.centered {
  text-align: center;
}

.spacer {
  height: 16px;
}

.ntris-game {
  background-color: black;
  display: inline-block;
  font-family: Times;
  line-height: 1;
  margin: 0 auto;
  outline: none;
}

.ntris-game .ntris-border {
  border: 2px solid #484;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

.ntris-game .ntris-overlay-wrapper, .ntris-game .ntris-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 5;
}

.ntris-game .ntris-overlay {
  z-index: -1;
}

.ntris-game .ntris-overlay-wrapper .ntris-text {
  background-color: black;
  color: white;
  margin: 0 auto;
}

.ntris-game .ntris-board {
  float: left;
}

.ntris-game .ntris-board .ntris-square {
  float: left;
  border-style: solid;
  border-width: 1px;
}

.ntris-game .ntris-sideboard {
  float: left;
  position: relative;
}

.ntris-game .ntris-sideboard .ntris-free-square {
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.ntris-game .ntris-sideboard .ntris-preview-block {
  overflow: hidden;
  position: relative;
}

.ntris-game .ntris-sideboard .ntris-hold {
  border-color: white;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.ntris-game .ntris-sideboard .ntris-hold .ntris-hold-overlay {
  background-color: black;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 3;
}

.ntris-game .ntris-sideboard .ntris-score {
  bottom: 0;
  color: white;
  position: absolute;
  text-align: right;
}

.ntris-options {
  margin: 0 auto;
  outline: none;
}

.ntris-options .form-group {
  margin-bottom: 4px;
}

.ntris-options .form-horizontal {
  margin-bottom: 0px;
}

.ntris-options .modal-footer {
  margin-top: 2px;
}

.ntris-options label {
  padding-right: 16px;
}

.ntris-options .ntris-options-keys {
  text-align: left;
  margin-top: 5px;
  padding-left: 0px;
}

.ntris-options .ntris-options-keys .btn {
  margin-right: 4px;
  padding: 2px 8px;
}

.ntris-options .ntris-options-close {
  margin-left: 4px;
  color: #666;
}

.ntris-options .ntris-restore-defaults {
  float: left;
}
