.centered, .combinos {
  text-align: center;
}

.spacer {
  clear: both;
  height: 16px;
}

.game-container {
  display: inline-block;
  margin: 0 auto;
}

.combinos {
  background-color: black;
  cursor: default;
  display: inline-block;
  font-family: Times;
  line-height: 1;
  margin: 0 auto;
  outline: none;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.combinos .overlay-wrapper, .combinos .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 5;
}

.combinos .overlay {
  z-index: -1;
}

.combinos .overlay-wrapper .text-box {
  background-color: none;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
}

.combinos .overlay-wrapper .text-box .btn {
  margin-top: 8px;
}

.combinos .overlay-wrapper .text-box.small-text-box {
  background-color: black;
  width: 67.5%;
}

.combinos .board,
.combinos .scoreboard,
.combinos .sideboard,
.combinos .vertical-spacer {
  float: left;
  position: relative;
}

.combinos .scoreboard {
  color: white;
}

.combinos .scoreboard .difficulty-ui {
  position: relative;
}

.combinos .scoreboard .difficulty-ui svg {
  opacity: 0.6;
}

.combinos .scoreboard .difficulty-ui .mark {
  border-top: 1px solid white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.combinos .scoreboard .score {
  text-align: right;
}

.combinos .scoreboard .score-section.dim {
  color: #777;
}

.combinos .board .square {
  float: left;
  border-style: solid;
  border-width: 1px;
}

.combinos .sideboard .free-square {
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.combinos .sideboard .preview-wrapper {
  overflow: hidden;
}

.combinos .sideboard .preview .preview-block {
  overflow: hidden;
  position: relative;
}

.combinos .sideboard .hold {
  border-color: white;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.combinos .sideboard .hold .hold-overlay {
  background-color: black;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 3;
}

.combinos-options {
  margin: 0 auto;
  outline: none;
}

.combinos-options .form-group {
  margin-bottom: 4px;
}

.combinos-options .form-horizontal {
  margin-bottom: 0px;
}

.combinos-options .modal-footer {
  margin-top: 2px;
}

.combinos-options .control-label {
  padding-right: 16px;
}

.combinos-options .keys-list {
  text-align: left;
  margin-top: 5px;
  padding-left: 0px;
}

.combinos-options .keys-list .btn {
  margin-right: 4px;
  padding: 2px 8px;
}

.combinos-options .close-button {
  margin-left: 4px;
  color: #666;
}

.combinos-options .restore-defaults-button {
  float: left;
}

.floating-score {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 0 black;
}
