.centered, .combinos {
  text-align: center;
}

.spacer {
  height: 16px;
}

.outer-container {
  display: inline-block;
  margin: 0 auto;
}

.inner-container, .difficulty-graph {
  display: inline-block;
  float: left;
  margin: 0 16px;
}

.difficulty-graph {
  height: 360px;
  width: 720px;
}

.difficulty-graph>div>div>a {
  top: 36px !important;
}

.combinos {
  background-color: black;
  display: inline-block;
  font-family: Times;
  line-height: 1;
  margin: 0 auto;
  outline: none;
  position: relative;
}

.combinos .overlay-wrapper, .combinos .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 5;
}

.combinos .overlay {
  z-index: -1;
}

.combinos .overlay-wrapper .text-box {
  background-color: black;
  color: white;
  margin: 0 auto;
}

.combinos .board {
  float: left;
}

.combinos .board .square {
  float: left;
  border-style: solid;
  border-width: 1px;
}

.combinos .sideboard {
  float: left;
  position: relative;
}

.combinos .sideboard .free-square {
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.combinos .sideboard .preview-block {
  overflow: hidden;
  position: relative;
}

.combinos .sideboard .hold {
  border-color: white;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.combinos .sideboard .hold .hold-overlay {
  background-color: black;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 3;
}

.combinos .sideboard .score {
  bottom: 0;
  color: white;
  position: absolute;
  text-align: right;
}

.combinos-options {
  margin: 0 auto;
  outline: none;
}

.combinos-options .form-group {
  margin-bottom: 4px;
}

.combinos-options .form-horizontal {
  margin-bottom: 0px;
}

.combinos-options .modal-footer {
  margin-top: 2px;
}

.combinos-options .control-label {
  padding-right: 16px;
}

.combinos-options .keys-list {
  text-align: left;
  margin-top: 5px;
  padding-left: 0px;
}

.combinos-options .keys-list .btn {
  margin-right: 4px;
  padding: 2px 8px;
}

.combinos-options .close-button {
  margin-left: 4px;
  color: #666;
}

.combinos-options .restore-defaults-button {
  float: left;
}
